// Required
@import "../frameworks/bootstrap-5.0.0-beta2/scss/functions";
@import "../frameworks/bootstrap-5.0.0-beta2/scss/variables";
@import "../frameworks/bootstrap-5.0.0-beta2/scss/mixins";


.elevator-customize {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  background: url("../images/plain-backdrop-decorative-gray-textured.jpg") 0 0 / cover no-repeat;
  display: flex;
  flex-wrap: wrap;

  .top {
    width: 100%;
    height: calc(100% - 64px);
    flex: 0 0 100%
  }

  .bottom {
    width: 100%;
    height: 64px;
    flex: 0 0 100%;

    .btn {
      height: 100%;
      width: 240px;
      background-color: #fff;
      border: 0;
      border-radius: 0;
    }
  }

  .elevator {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    @include transition($transition-collapse);

    & > img {
      display: block;
      height: 100%;
      margin: auto
    }

    &.minimum {
      width: 66%;

      & > img {
        height: 80%;
        margin-top: 10%;
      }
    }
  }
}